<h1>listado de Héroes</h1>

<!--
<ul>
  <li>
    {{ heroes[0] }}
  </li>
  <li>
    {{ heroes[1] }}
  </li>
  <li>
    {{ heroes[2] }}
  </li>
  <li>
    {{ heroes[3] }}
  </li>
</ul>
-->

<button (click)="borrarHeroe()">Borrar Héroe</button>

<h2 *ngIf="deletedHeroe; else noBorrado">
    Héroe borrado: <small>{{ deletedHeroe }}</small>
</h2>

<!-- <h2 *ngIf="!deletedHeroe">No ha borrado ningún héroe</h2> -->

<!--
  #noBorrado es una referencia local, si no se cumple el ngIf mostraremos la template
-->
<ng-template #noBorrado>
    <h2 *ngIf="!deletedHeroe">No ha borrado ningún héroe</h2>
</ng-template>

<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        {{ i + 1 }} - {{ heroe }}
    </li>
</ul>
